.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#clothesCardPhoto {
  min-height: 250px;
  max-height: 250px;
  max-width: 260px;
  margin: 5px auto 5px auto;
}

#previewImg {
  min-height: 375px;
  max-height: 375px;
  min-width: auto;
  margin: 5px auto 5px auto;
}

#clothingShowImg {
  min-height: 475px;
  max-height: 475px;
  min-width: auto;
  margin: 5px auto 5px auto;
}

#clothingPreviewUser {
  max-width: 70px;
  max-height: 45px;
}

#clothingShowUser {
  max-width: 120px;
  max-height: 80px;
  margin-right: 0.3vw;
  margin-top: 10px;
}

#logo {
  max-height: 140px;
  background-color: #fffffc;
  padding: 0;
}

#mainLogo {
  max-height: 160px;
  background-color: #fffffc;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loginForm {
  text-shadow: -1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
}

#signUpLink {
  color: blue;
}

#signUpLink:hover,
#signUplink:focus {
    color: black;
}


#navBarBackground {
  background-image: url("https://images.pexels.com/photos/3091200/pexels-photo-3091200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  height: stretch;
  margin: auto;
}

#loginBackground {
  background-image: url("https://images.pexels.com/photos/6292/blue-pattern-texture-macro.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  height: stretch;
  margin: auto;
}

#clothesTextBox {
  text-align: left;
  line-height: 10px;
  padding: 10px 5px 10px 5px;
}

#clothesCard {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: black;
}

#clothingPreviewCard {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #571028;
}

#clothesCardBrand {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #571028;

}

#clothesCardName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}

#clothesShowBrand {
  font-family: 'Staatliches', cursive;
  font-size: 42px;
  color: #571028;
  margin-top: 5px;

}

#clothesShowName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
}

#clothesCardUser {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-bottom: 10px;
}

#clothingPrevDetailsBtn {
  color: white;
}

#clothingCardDetailsBtn {
  color: white;
  font-size: 9px;
}

#clothingPreviewCardRail {
  width: 100%;
  padding: 0 0 0 5px;
}

#searchColumn {
  width: 100%;
  padding: 0 5px 0 0;
}

#clothingPreviewCardTop {
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: -24px;
}

#clothPrevCloseBtn {
  cursor: pointer;
}

#clothingShowHeart {
  margin-right: 0px;
}

#clothingShowUserPosted {
  font-size: 19px;
  margin-top: 15px;
}

#clothingShowUserName {
  font-size: 18px;
  margin-top: 2px;
}

#clothingShowDescription {
  font-size: 21px;
  margin-top: 20px;
}

#clothingShowCategory {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

#clothingShowCategoryHeader {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
}

#clothingShowSizes {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}

#clothingShowMeasures {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#clothingShowMeasuresHeader {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#clothingShowInnerMeasures {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

#clothingShowImgCol {
  background-color: #1d1e1f;
}

#clothingShowDetailCol {
  background-color: #571028;
}

#clothingShowGrid {
  margin-top: -1px;
}
