.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#clothesCard {
  max-height: 500px;
}

#clothesCardPhotoSection {
  text-align: center;
  max-height: 220px;
}

#clothesCardPhoto {
  height: 200px;
  width: auto;
  margin: 5px auto 5px auto;
}

#previewImg {
  min-height: 375px;
  max-height: 375px;
  min-width: auto;
  margin: 5px auto 5px auto;
}

#clothingShowImg {
  min-height: 510px;
  max-height: 510px;
  min-width: auto;
  margin: 5px auto 5px auto;
}

#profileAvatar {
  min-height: 250px;
  max-height: 510px;
  min-width: auto;
  margin: 5px auto 5px auto;
}

#clothingPreviewUser {
  max-width: 70px;
  max-height: 45px;
}

#clothingShowUser {
  max-width: 120px;
  max-height: 80px;
  margin-right: 0.3vw;
  margin-top: 10px;
}

#logo {
  max-height: 140px;
  background-color: #fffffc;
  padding: 0;
}

#mainLogo {
  max-height: 160px;
  background-color: #fffffc;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loginForm {
  text-shadow: -1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
}

#signUpLink {
  color: blue;
}

#signUpLink:hover,
#signUplink:focus {
    color: black;
}


#navBarBackground {
  background-image: url("https://images.pexels.com/photos/3091200/pexels-photo-3091200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  height: stretch;
  margin: auto;
}

#loginBackground {
  background-image: url("https://images.pexels.com/photos/6292/blue-pattern-texture-macro.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  height: stretch;
  margin: auto;
}

#clothesTextBox {
  text-align: left;
  padding: 10px 5px 10px 5px;
  height: 50%;
}

#clothingPreviewCard {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #571028;
}

#clothesCardBrand {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #571028;

}

#clothesCardName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}

#clothesShowBrand {
  font-family: 'Staatliches', cursive;
  font-size: 42px;
  color: #571028;
  margin-top: 5px;

}

#clothesShowName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
}

#clothesCardUser {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-bottom: 5px;
  color: gray;
}

#clothingPrevDetailsBtn {
  color: white;
}

#clothingCardDetailsBtn {
  color: white;
  font-size: 10px;
}

#clothingPreviewCardRail {
  width: 100%;
  padding: 0 0 0 5px;
}

#searchColumn {
  width: 100%;
  padding: 0 5px 0 0;
}

#clothingPreviewCardTop {
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: -24px;
}

#clothPrevCloseBtn {
  cursor: pointer;
}

#clothingShowHeart {
  margin-right: 0px;
  cursor: pointer;
}

#clothingShowUserPosted {
  font-size: 19px;
  margin-top: 15px;
}

#clothingShowUserName {
  font-size: 18px;
  margin-top: 2px;
}

#clothingShowDescription {
  font-size: 19px;
  margin-top: 20px;
}

#clothingShowCategory {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

#clothingShowCategoryHeader {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
  font-size: 21px;
  color: black;
}

#clothingShowSizes {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}

#clothingShowMeasures {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#clothingShowMeasuresHeader {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 21px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

#clothingShowInnerMeasuresSize {
  padding-top: 2%
}

#clothingShowInnerMeasures {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
  height: 100%
}

#clothingShowDimensions {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
}

#clothingShowGrid {
  margin-top: 0px;
}

#addMeasBtn {
  padding-bottom: 15px;
  background-color: #571028;
}
#profileAvatarBox {
  height: 100%
}

#profileHeaderCard {
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: black;
}

#profileHeader {
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 5px;
  font-weight: 600;
  background-color: black;
}

#profileStatsHeader {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

#profileStats {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 3px;
}

#myMeasHeaders {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 15px;
  font-weight: bolder;
}

#profileThreadsBox {
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

#profileThreadsHeaderPostCard {
  padding-bottom: 0px;
  margin-bottom: 10px;
  background-color: black;
}

#profileThreadsHeaderPost {
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 2px;
  font-weight: 600;
  text-align: center;
  background-color: black;
}

#profileThreadsHeaderMeasuredCard {
  padding-bottom: 0px;
  margin-bottom: 10px;
  background-color: #571028;
}

#profileThreadsHeaderMeasured {
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 2px;
  font-weight: 600;
  text-align: center;
  background-color: #571028;
}

#profileClothesCard {
  max-width: 260px;
}

#profileClothesCardPhoto {
  min-height: 150px;
  max-height: 150px;
  max-width: 165px;
  margin: 5px auto 5px auto;
}

#profileClothesCardBrand {
  font-family: 'Staatliches', cursive;
  font-size: 21px;
  color: #571028;
}

#profileClothesCardName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  margin-bottom: 4px;
}

#profileClothesTextBox {
  text-align: center;
  line-height: 5px;
  padding: 5px 5px 5px 5px;
}

#profileClothesCardDetailsBtn {
  color: white;
  font-size: 9px;
  background-color: #571028;
}

#profileClothesCardHeart {
  padding: 5px 1px 0px 1px;
}

#submitMeasurementBtn {
  background-color: #571028;
}

#underConstruction {
  height: 100%;
  text-align: center;
  margin-top: 70px;
}

#modalHeader {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color: white;
  background-color: black;
}

#modalText {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

#modalBtn {
  background-color: #571028;
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: white;
  padding: 10px 0px 10px 35px;
  margin-bottom: 10px;
  margin-right: 2%;
}

#modalBtnDiv {
  text-align: right;
}

#modalImg {
  max-width: 1500px;
}

#bottomMeasSubmit {
  background-color: #571028;
  color: white;
}

#topMeasSubmit {
  background-color: #571028;
  color: white;
}

#measFields {
  text-align: center;
}

#userMeasForm {
  margin-bottom: 15px;
}

#searchColHeader {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: white;
  padding: 15px;
  margin-bottom: 2px;
}
